{% extends 'main/base.html' %}

{% block content %}

<div>
    <form method="POST" action="{% url 'quote:add_quote' %}">
        {% csrf_token %}
        {{ form.errors}}
        <table>
            <tr>
                <td>{{ form.quote.label_tag }}</td>
                <td>{{ form.quote }}</td>
            </tr>
            <tr>
                <td>{{ form.tags.label_tag }}</td>
                <td>{{ form.tags }}</td>
            </tr>
            <tr>
                <td>{{ form.author.label_tag }}</td>
                <td>{{ form.author }}</td>
            </tr>
        </table>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
</div>
{% endblock %}